.pagin {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

li {
  display: inline;
  font-size: 23px;
}

 button {
  font-size: 20px;
  color: azure;
  background-color: rgb(116, 114, 112);
  height: 30px;
  width: 50px;
  border-radius: 5px;
  margin:  3px;
  cursor: pointer;
}

 button:hover {
  background-color: rgb(235, 160, 160);
 
  color: azure;
}

 .page-button {
  font-size: 20px;
  color: azure;
  background-color: rgb(116, 114, 112);
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

 .page-button.active {
  background-color: rgb(235, 160, 160);
  color: azure;
}
@media (max-width: 820px){
 button{
  width: auto;
  padding: 3px;
 }
  }
  @media (max-width: 380px){
    .first-page, .last-page{
   display: none;
    }
     }
     @media (max-width: 295px){
      .first-page, .last-page, .prev-page, .next-page{
     display: none;
      }
      .numberButton{
        display: flex;
      }
       }