ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
li {
  display: inline;
  padding: 5px;
  font-size: 23px;
}
a {
  text-decoration: none;
color: rgb(92, 92, 89);

}
a:focus {
    color: rgb(235, 160, 160);
    background-color: rgb(116, 114, 112);
height:auto;
width:auto;
border-radius: 5px;
padding: 2px;

  }
  .button{
    font-size: 20px;
    color: azure;
    background-color: rgb(116, 114, 112);
height: 30px;
width: 100px;
border-radius: 5px;


  }
  .button:focus {
    color: rgb(235, 160, 160);
    padding: 3px;

  }