.newsPostItem {
  width: 100%;
  min-height: calc(100vh - 100px);
}
.newsDeteilWrapper {
  display: flex;

width: auto;
height: auto;
  margin-top: 78px;
  padding: 40px;
  background: #ebebeb;
  border-radius: 20px;

}

.movis-name-deteil {
  display: flex;
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #e59c9c;
  margin-bottom: 55px;
}
.style-name-old {
  margin-right: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.style-name-country {
  margin-right: 96px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.style-name-language {
  margin-right: 112px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.style-name-genres {
  margin-right: 111px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.style-name-summary {
  margin-right: 67px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: auto;
}

.movis-country-deteil,
.movis-language-deteil,
.movis-genres-deteil,

.movis-old {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 22px;
  color: #333333;
}


.movis-summary-deteil {
  display: flex;
  align-items: center;

  color: #333333;
}

.imgdet {
  width: 229px;
  height: 339.22px;
  border-radius: 20px;
  box-shadow: 0 -1px 3px 1px rgba(0, 0, 0, 0.7);
  margin-top: 7px;
  margin-right: 24px;
}
.new-star-rat{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
.starrat {
  display: flex;
align-items: center;
  max-width: 100px;
}



.rating {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
  margin-left: 11px;
  color: #333333;
}
.img-star-deteil {
  width: 43px;
  height: 43.16px;
}
@media (max-width: 767px){
 .starrat{
  display: none;
 }
 .newsDeteilWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .wrapDeteilPage{
  display: flex;
  flex-direction: column;
 }
 .movis-name-deteil{
  font-size: 20px;
 }
 .new-star-rat{
  display: flex;
justify-content: center;
margin-top: 10px;

}

.style-name-old {
  margin-right: 5px;
  

}
.style-name-country {
  margin-right: 5px;

}

.style-name-language {
  margin-right: 5px;

}
.style-name-genres {
  margin-right: 5px;

}
.style-name-summary {
  margin-right: 5px;

}
.movis-country-deteil,
.movis-language-deteil,
.movis-genres-deteil,

.movis-old {
  display: flex;
justify-content: center;
}
.movis-summary-deteil {
  display: flex;
flex-direction: column;
align-items: flex-start;
}
}