.newsPostItem {
  min-height: calc(100vh - 100px);
}
.newsDeteilWrapper {
  display: inline-flex;

  position: relative;
  width: 1230px;
  min-height: 546px;

  top: 186px;
  padding-top: 40.14px;
  padding-left: 90px;

  background: #ebebeb;
  border-radius: 20px;
  margin-bottom: 475px;
}
.movis-name-deteil {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #e59c9c;
  margin-bottom: 55px;
}
.style-name-old {
  margin-right: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.style-name-country {
  margin-right: 96px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.style-name-language {
  margin-right: 112px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.style-name-genres {
  margin-right: 111px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.style-name-summary {
  margin-right: 67px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: auto;
}

.movis-country-deteil,
.movis-language-deteil,
.movis-genres-deteil,
.movis-summary-deteil,
.movis-old {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 22px;
  color: #333333;
}
.movis-summary-deteil {
  margin-right: 90px;
}

.imgdet {
  width: 229px;
  height: 339.22px;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
  margin-right: 24px;
}

.starrat {
  display: inline-flex;
  position: absolute;
  top: 42px;
  right: 90px;
}
.rating {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
  margin-left: 11px;
  color: #333333;
}
.img-star-deteil {
  width: 43px;
  height: 43.16px;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
