.category-page {
  min-height: calc(100vh - 140px);
}
.secondpage-text{
    font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #f3c8c8;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}
.category-page-items {
  max-width: 1230px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.2);
  background: #ffffff;
  border-radius: 20px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.category-page-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #333333;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 90px;
}

.itemtext {
  display: flex;
  justify-content: space-between;

}

.wrap-setitem {
  display: flex !important;

}
.filmold {
  display: none;
}
.about-movis-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;

}
.name-movis {
  font-size: 20px;
}
.genres-movis {
  font-size: 16px;
}
