.main-page {
  min-height: calc(100vh - 140px);
}
.main-text {
  text-align: center;

}
.logo-main-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #f3c8c8;
  margin-bottom: 30px;
  margin-top: 10px;
}
.back-main {
  max-width: 1230px;

  background: #ebebeb;
  border-radius: 20px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.2);
  padding-bottom: 25px;
  padding-top: 25px;
}

