.main-page {
  min-height: calc(100vh - 140px);
}
.main-text {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-logo {
  color: #e59c9c;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 5px;


}

.logo-main-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 50px;

}
.back-main {
  max-width: 1230px;
  min-height: 862px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.2);
  padding-bottom: 25px;
  padding-top: 25px;
}
