header {
  top: 0px;
  background-color: #3a3a3a;
  position: sticky;
 z-index: 999;
 box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.9);
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
.logo-header {
  display: flex;
  .logo-text {
    margin-left: -15px;
    color: white;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }
  .logo-circle {
    background-color: #e59c9c;
    width: 24px;
    height: 24px;
    border-radius: 45%;
  }
}
.navbar-link {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}
.navbar-link-button {
  color: white;
  margin-left: 16px;
  font-size: 20px;
  text-decoration: none;
}
.linkActive {
  color: #e59c9c;
  text-decoration: underline;
}
