.calendar-page {
  min-height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar-wrappper {
  min-width: 90%;
  min-height: 40%;
  background-color: #3a3a3a;
  border-radius: 3px;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.2);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  color: #8b8787;
}

.wrap-cell {
  display: flex;
  justify-content: flex-end;
}

.date-in-cell {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.calendar-weekend {
  background-color: #484747;
  min-width: 70px;
  min-height: 50px;
}

.current-month-name {
  font-size: 22px;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
}

.date-in-cell-current {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e59c9c;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 23px;
}

.weekd-day {
  display: flex;
  justify-content: space-around;
  color: #dddcdd;
  font-size: 20px;
}

.button-handler-month {
  display: flex;
}

.today-button {
  min-width: 80px;
}

.calendar-wrap-current {
  color: #fff;
}
.month-now {
  border-radius: 10px;
}
.month-handler-wrapp {
  border-bottom: 1px solid;
  color: #636161;
  margin-top: 3px;
}
.handlers-and-current-month {
  display: flex;
  padding: 5px;
}
.movieReleaseDate {
  color: green;
  background-color: red;
}
