.prev-movis{
  position: fixed;
  background-color:#82817e;
  height: 200px;
  width: 300px;
  border-radius: 2px;
  border: solid 1px azure;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.2);
  color: #dddcdd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}