*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
html,
body {
  height: 100%;
  background-color: rgb(130, 129, 126);
  font-family: "Open Sans", sans-serif;



  @media (min-width: 176px) {
    .newslist {
      grid-template-columns: repeat(1, 1fr);
    }
 
    .searchinput {
      width: 70%;
    }
  }
  @media (min-width: 505px) {
    .newslist {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .searchinput {
      width: 70%;
    }
  }

  @media (min-width: 767px) {
    .newslist {
      grid-template-columns: repeat(2, 1fr);
    }
    .container {
      width: 90%;
    }

  }

  @media (min-width: 992px) {
    .newslist {
      grid-template-columns: repeat(3, 1fr);
    }
    .container {
      width: 90%;
    }

    .searchinput {
      width: 800px;
    }
  }

  @media (min-width: 1200px) {
    .newslist {
      grid-template-columns: repeat(3, 1fr);
    }
    .container {
      width: 90%;
    }
  }

  @media (min-width: 1400px) {
    .newslist {
      grid-template-columns: repeat(4, 1fr);
    }
    .container {
      width: 90%;
    }
    .searchinput {
      width: 70%;
    }
  }
}
